# Expo y React Native
node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*
web-build/

# macOS (Archivos del sistema)
.DS_Store

# Archivos de certificados y llaves (¡No borrar!)
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Variables de entorno secretas (Seguridad)
.env
.env.*
.env.local